<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,200,121,0.4) 0%, rgba(0,70,10,0.4) 50%), url('https://unsplash.it/1600/600');">
  <div class="banner-content">
    <h1>DayOne</h1>
    <p>You're welcome!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
<div class="container">
  <div class="big-title">
      <span class>How it works</span>
  </div>
</div>
<div class="text-center see-all-dinner">
  <%= link_to "See all dinners", dinners_path, class: "btn btn-primary" %>
</div>
<div class="text-center see-all-dinner">
  <%= link_to "Organise a dinner", new_dinner_path, class: "btn btn-primary" %>
</div>

