<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,200,121,0.4) 0%, rgba(0,70,10,0.4) 50%), url('https://unsplash.it/1600/600');">
  <div class="banner-content">
    <h1>EasyTravel</h1>
    <p>You're welcome!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
<div class="container">
  <div class="big-title">
      <span class>How it works</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 text-center">
      <p>You are about to spend a few months in Paris</p>
    </div>
    <div class="col-xs-6 text-center">
      <p>You want to live a nice intercultural experience</p>
    </div>
  </div>
</div>

