.card-home {
  background-color: #f48072;
  height: 400px;
  margin-bottom: 100px;
  padding-top: 20px;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
  h3{
    padding-bottom: 30px;
  }
  p {
    padding-top: 10px;
    padding-left: 80px;
  }
}
